{% extends "BoostApp/layout.html" %}
{% block title %}Boosts A{% endblock %}
{% block content %}
<div class="advertiser-boosts">
    <h2 id="advertiser-boosts-header">Scheduled Boosts</h2>
    <div>
        <table id="advertiser-future-boosts" style="margin: 20px auto; width: 970px;">
            <tr>
                <th style="width: 200px">Buyer</th>
                <th style="width: 150px">Name</th>
                <th style="width: 120px">Level/Difficulty</th>
                <th style="width: 100px">Type</th>
                <th style="width: 300px">Date & Time</th>
                <th style="width: 100px">Price</th>
            </tr>
            <tr>
                <td>test1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>asap</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-6">
            <div id="advertiser-boost-details-button">
            <input type="submit" value="Boost Details" style="width:200px"/>
        </div>
        </div>
        <div class="col-6">
            <div id="advertiser-cancel-boost-button">
                <input type="submit" value="Cancel Boost" style="width: 200px"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
