{% extends "BoostApp/layout.html" %}
{% block title %}Sign Up {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="create-account">
    <form id="create-account-form" method="POST">
        {% csrf_token %}
    <h2 id="create-account-header">Create Account</h2>
    <div class="row no-gutters" style="margin: 10px 30px">
        <div style="margin: auto">
            {% crispy form %}
            <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}
